<h1>Orders Lists</h1>


<table>
	<tr>
		<th> Order ID </th>
		<th> Last Name </th>
    <th> Email </th>
		<th> Items Details</th>
		<th> Users Details</th>
	</tr>
    <% @orders.each do |order| %>
		<tr>
			<td> <%= order.id %> </td>

      <% end %>
		</tr>
</table>
